DATABASE_URL="file:./prisma/dev.db"
ADMIN_EMAIL="admin@wtmarket.local"
ADMIN_PASSWORD="ganti-password-kuat"
SESSION_SECRET="ganti-dengan-random-string-minimal-32-karakter"

# 1 USD = berapa IDR (tampilkan ekuivalen)
USD_RATE="16000"

# Midtrans — isi dari dashboard sandbox/production
MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_SERVER_KEY="SB-Mid-server-xxxx"
MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxx"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxx"
NEXT_PUBLIC_MIDTRANS_SNAP_URL="https://app.sandbox.midtrans.com/snap/snap.js"

# GoPay Merchant QRIS
# Dapatkan QRIS string dari app GoPay Merchant (scan/screenshot QRIS kamu)
GOPAYMERCHANT_QRIS_STATIC=00020101021126610014COM.GO-JEK.WWW01189360091433597539980210G3597539980303UMI51440014ID.CO.QRIS.WWW0215ID10254674780340303UMI5204581653033605802ID5925RAFLI_HERLAMBANG_Gaming6015SERDANG_BEDAGAI61052098662070703A016304BC0A

# GoBiz API (auto-detect payment) — login via email OTP ke https://api.gobiz.co.id
GOBIZ_ACCESS_TOKEN=your-gobiz-access-token
GOBIZ_MERCHANT_ID=G-your-merchant-id
GOBIZ_REFRESH_TOKEN=your-gobiz-refresh-token

# URL publik (webhook & redirect)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Cron — autentikasi untuk cron job cleanup (generate dengan: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
CRON_SECRET=your-super-secret-cron-key
